* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  min-width: 375px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-5px);
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: #363940;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  background-color: #0a61f7;
  padding: 15px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
}

.menu-icon {
  display: none;
}

/* First screen */
.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 800px;
}

.main-title {
  font-weight: 500;
  font-size: 58px;
  line-height: 68px;
  color: #363940;
  margin-bottom: 30px;
}

.first-screen .section-text {
  margin-bottom: 40px;
  max-width: 380px;
}

.btn {
  border-radius: 4px;
  width: 155px;
  height: 50px;
  background: #0a61f7;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.main-image {
  align-self: flex-end;
  max-width: 656px;
  width: 100%;
}

/* Rates Section */
.rates-section {
  background-color: #f9fafc;
  padding: 100px 0;
}

.rates-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates-section .section-title {
  margin-bottom: 20px;
}

.rates-section .section-text {
  margin-bottom: 40px;
  text-align: center;
}

.table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #95a1bb;
  width: 240px;
  text-align: center;
  padding: 15px 0;
}

.table-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #363940;
}

.table-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #363940;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.table-subtitle.gray {
  color: #95a1bb;
}

.table-link {
  color: #0a61f7;
}

.table-btn {
  border: 1px solid #0a61f7;
  border-radius: 4px;
  width: 140px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #0a61f7;
}

.table-btn.active {
  background: #0a61f7;
  color: #fff;
}

.table-footer td {
  padding: 30px 0;
}

/* Create Account Section */
.create-acc-section {
  padding: 100px 0;
}

.acc-wrapper {
  display: flex;
  justify-content: space-between;
}

.create-acc-section .section-title {
  margin-bottom: 50px;
}

.create-acc-section .section-text {
  margin-bottom: 40px;
  max-width: 500px;
}

.list-item {
  list-style-image: url('./assets/img/check.svg');
  margin-left: 30px;
  margin-bottom: 15px;
  color: #363940;
}

form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, select, fieldset, textarea {
  border-radius: 4px;
  border: 1px solid #95A1BB;
  padding: 14px 15px;
}

input, select, fieldset, textarea, label, legend, input::placeholder, select::placeholder, textarea::placeholder {
  color: #95A1BB;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: inherit;
}

input[type="text"] {
  width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
  width: 230px;
  height: 50px;
  flex-grow: 1;
}

input[type="radio"], input[type="checkbox"], input[type="date"], select {
  cursor: pointer;
}

.stack, fieldset {
  display: flex;
  column-gap: 30px;
}

.fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

fieldset {
  width: 100%;
  padding: 30px 15px;
}

textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
}

form .btn {
  width: 100%;
}

select {
  background: url(./assets/img/arrow-down-icon.svg) no-repeat right 15px top 50%;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(./assets/img/calendar-icon.svg) no-repeat;
}

/* Footer */
.footer {
  background-color: #0A61F7;
  text-align: center;
  padding: 20px 0;
}

small {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

/* Responsive for tablets */
@media screen and (max-width: 1400px) {
  .main-wrapper {
    flex-direction: column;
    min-height: auto;
  }

  .main-info {
    align-self: flex-start;
    margin: 100px 0 80px;
  }

  .main-image {
    align-self: center;
  }

  .table {
    width: 940px;
  }

  .table-wrapper {
    overflow-x: auto;
    width: 100%;
    max-width: 940px;
  }

  .acc-wrapper {
    flex-direction: column;
    gap: 70px;
  }

  .create-acc-section .section-text {
    max-width: unset;
  }

  form {
    align-self: center;
  }
}

/* Responsive for mobile */
@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .main-info {
    margin: 60px 0;
  }

  .main-title {
    font-size: 52px;
    line-height: 60px;
  }

  .acc-wrapper {
    gap: 60px;
  }

  label {
    white-space: nowrap;
  }

  fieldset {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}